{% extends "base.html.twig" %}

    {% block title %}page index{% endblock %}
	{% block body %}
        <div class="row">
            <div class="col p-3">
                <h3>Administration</h3>
                <p>
                <a href=" {{ url('product.index' ) }} " class ="btn btn-primary" >Product Managment</a>
                </p>

            </div>
        </div>
    {% endblock %}


